.event-detail {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem 1.5rem;
}

.event-detail h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #1e1e1e;
}

.event-detail .date {
    font-size: 1rem;
    color: #4caf50;
    margin-bottom: 1.5rem;
}

.event-detail .description {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #444;
    margin-bottom: 2rem;
}

.back-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #1e1e1e;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background 0.2s ease;
}

.back-btn:hover {
    background: #333;
}


.location {
    font-size: 1rem;
    color: #2e7d32; 
    margin-bottom: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
}

.location i  {
    font-size: 1.1rem;
    color: #4caf50;
}
